deviceName: "B121679621"
serialPort: "/dev/ttyUSB0"
serialTimeout: 200
queryInterval: 10
listenOnly: false
optionalPCB: false
optionalQueryInterval: 5
optionalSaveInterval: 60
mqttServer: "127.0.0.1"
mqttPort: "1883"
mqttLogin: ""
mqttPass: ""
mqttKeepalive: 60
mqttTopicBase: "panasonic_heat_pump"
haAutoDiscover: true
logmqtt: true
loghex: false
logdebug: false
