device: "/dev/ttyUSB0"
readInterval: 1
optionalPCB: true
mqttServer: "127.0.0.1"
mqttPort: "1883"
mqttLogin: ""
mqttPass: ""
mqttKeepalive: 60
mqttTopicBase: "panasonic_heat_pump"
logmqtt: true
loghex: false
enableCommand: true
sleepAfterCommand: 1
haAutoDiscover: true